
<h3> New dose </h3>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
<%= f.input :description %>
<%= f.input :ingredient_id, collection: Ingredient.all %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
